[submodule "include/assimp"]
	path = include/assimp
	url = https://github.com/assimp/assimp.git
[submodule "include/include/assimp"]
	path = include/include/assimp
	url = https://github.com/assimp/assimp.git
